#blog{
    display: flex;
    height: 3300px;
    margin-top: 100px;
    
}
#b1-main{
    margin-left: 120px;
    flex-basis: 60%;
    /* border: 1px solid black; */
}
#inner-b1{
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    height: 600px;
    position: relative;
    margin-bottom: 50px;
}
#date{
    position: absolute;
    top: 48%;
    left: 6%;
    background-color: #B08EAD;
    color: #ffffff;
    width: 80px;
    height: 130px;
    border-radius: 5px;
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;
}
#b1-p1{
    margin-top: 50px;
    color: #4B3049;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    margin-left: 50px;
}
#b1-p1:hover{
    color: #795376;
}
#b1-p2{
    /* margin-top: 50px; */
    color: #795376;
    font-size: 15px;
    cursor: pointer;
    margin-left: 50px;
    width: 90%;
}
#b1-p3{
    margin-top: 20px;
    color: #212529;
    font-size: 15px;
    cursor: pointer;
    margin-left: 50px;
    font-weight: 400;
}
#b2{
    margin-right: 120px;
    flex-basis: 30%;
    /* border: 1px solid black; */
    margin-left: 60px;
}
#b2-b1{
    width: 100%;
    height: 220px;
    background-color: #FBF9FF;
}
#b2-b1 input{
    background-color: #ffffff;
    border-radius: 0%;
    margin-top: 5px;
    height: 50px;
    width: 90%;
    margin-top: 50px;
    margin-left: 15px;
}
::placeholder{
    color: grey;
}
#b2-b1 button{
    width: 90%;
    border-radius: 0%;
    height: 50px;
    margin-left: 15px;
}

#b2-b2{
    width: 100%;
    height: 440px;
    background-color: #FBF9FF;
    margin-top: 50px;
    border: 1px solid #FBF9FF;
}
#b2-b2 li{
    list-style: none;
    margin-left:15px ;
    color: #795376;
    cursor: pointer;
}
#cat{
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
    color: #4B3049;
}

#b2-b3{
    width: 100%;
    height: 550px;
    background-color: #FBF9FF;
    margin-top: 50px;
    border: 1px solid #FBF9FF;
}
#b2-b3 h5{
    margin-top: 30px;
    color: #4B3049;
    font-size: 25px;
    margin-left: 15px;
}
#b3-flex{
    display: flex;
    margin-left: 15px;
    margin-bottom: 20px;
}
#post-text{
    margin-left: 10px;
}
#t1{
    color: #4B3049;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}
#t1:hover{
    color: #795376;
}
#t2{
    color: #795376;
    margin-top: -10px;
}

#b2-b4{
    width: 100%;
    height: 330px;
    background-color: #FBF9FF;
    margin-top: 50px;
    border: 1px solid #FBF9FF;
}
#b2-b4 h5{
    margin-top: 30px;
    color: #4B3049;
    font-size: 25px;
    margin-left: 15px;
}
#insta-img{
    display: flex;
    flex-wrap: wrap;
}
#insta-img img{
    margin: auto;
    margin-top: 10px;
}

#b2-b5{
    width: 100%;
    height: 250px;
    background-color: #FBF9FF;
    margin-top: 50px;
    border: 1px solid #FBF9FF;
}
#b2-b5 h5{
    margin-top: 30px;
    color: #4B3049;
    font-size: 25px;
    margin-left: 15px;
}
#b2-b5 input{
    background-color: #ffffff;
    border-radius: 0%;
    height: 50px;
    width: 90%;
    margin-top: 10px;
    margin-left: 15px;
}
::placeholder{
    color: grey;
}
#b2-b5 button{
    width: 90%;
    border-radius: 0%;
    height: 50px;
    margin-left: 15px;
}
