#del{
    background-color: #795376;
    border: 1px solid #795376;
    border-radius: 5px;
    color: #F4EDF2;
    width: 120px;
    height: 50px;
    margin-bottom: 50px;
    transition: 1s;
}
#del:hover{
    color: #795376;
    background-color: #F4EDF2;
    font-weight: 600;
}
#cart-img{
  width: 350px;
  height: 300px;
}
table{
    margin-top: 50px;
}
.plus{
    width: 30px;
    height: 35px;
    border: none;
    font-size: 20px;
    margin-top: -200px;
}