#coupon{
    margin-top: 80px;
    font-weight: 600;
    color: #2A2A2A;
    font-size: 25px;
    margin-left: 120px;
}
#text{
    width: 800px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0%;
    border: 1px solid rgb(204, 204, 204);
    margin-left: 120px;
}
#btn{
    background-color: #ffffff;
    color:#795376;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    font-weight: bold;
    transition: 1s;
    margin-left: 120px;
}
#btn:hover{
    background-color: #B08EAD;
    color:#ffffff ;
}
#main{
    display: flex;
    margin-top: 80px;
}
#bil{
    margin-left: 70px;
    /* margin-right: 200px; */
    width: 50%;
    border: 1px solid black;
}
#pre{
   
    font-weight: 600;
    color: #2A2A2A;
    font-size: 25px;
}
#form{
    margin-top: 50px;
}
#validationCustom05{
    height: 40px;
}
#payment{
    margin-left: 40px;
    margin-right: 120px;
    width: 50%;
    border: 1px solid black;
}
#payment p{
    /* margin-top: 80px; */
    font-weight: 600;
    color: #2A2A2A;
    font-size: 25px;
}
#payment #p2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
}
